
.header-custom{
    max-width: 100%;
    padding-left: 35px;
    padding-right: 35px;
    color: #fff;
    background-color: transparent;
}

.custom-logo{
    max-width: 150px;
    height: auto;
}

.nav-item{
    padding-left: 20px;
    padding-right: 20px;
}

.nav-item > .nav-link{
    font-size: 1rem;
    color: #fff;
}


.custom-avatar{
    display: inline;
    width: 32px;
    height: auto;
    border-radius: 100%;
    max-width: 100%;
}
